@model RMSDemo.Models.FarmerViewModel
@{
    ViewBag.Title = "StateVillage";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}
<div class="fl fw page-main">
    <section class="fl fw collapaseBox">
        <h3 class="fl fw">
            <i class="i-user"></i>
            <span>Add Farmer File:</span>
        </h3>
        <div class="fl fw section-container">
            @using (Html.BeginForm("Importexcel", "Farmer", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <ul class="fl fw ul-form-group">
                    <li>
                        <div class="col-xs-12 col-lg-4">
                            <div class="fl fw input-group">
                                <label for="" class="fl fw">Upload File</label>
                                <input type="file" name="UploadedFile" class="fl fw frmElement" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-xs-12 col-lg-12">
                            <div class="fl fw input-group">
                                <input type="submit" value="Save" id="" name="register" class="fr btn">
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </section>
    <section class="fl fw">
        <h3 class="fl fw">
            <i class="i-user"></i>
            <span>Company User (s)</span>
        </h3>
        <div class="fl fw section-container">
            <div id="UserTableContainer" class="fl fw"></div>
        </div>
    </section>
</div>
@section scripts{<!-- Validation engine style file -->

}