@{
    ViewBag.Title = "StateVillage";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}
<div class="fl fw page-main">
    <section class="fl fw collapaseBox">
        <h3 class="fl fw">
            <i class="i-user"></i>
            <span>DashBoard</span>
        </h3>
        <div class="fl fw section-container">

            <ul class="fl fw ul-form-group">
                <li>
                    <div class="col-xs-12 col-lg-4">
                        <div class="fl fw input-group">
                            <p id="rcorners1" class="rcorners cb"><img src="https://photogallerylinks.com/pics/1667.jpg" height="20px" width="20px"></p> 
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="fl fw input-group">
                            <p id="rcorners1" class="rcorners cd"><img src="https://photogallerylinks.com/pics/1667.jpg" height="20px" width="20px"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="fl fw input-group">
                            <p id="rcorners1" class="rcorners ce"><img src="https://photogallerylinks.com/pics/1667.jpg" height="20px" width="20px"></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="fl fw input-group">
                            <p id="rcorners1" class="rcorners cf"><img src="https://photogallerylinks.com/pics/1667.jpg" height="20px" width="20px"></p>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
    </section>
    <section class="fl fw">
        <h3 class="fl fw">
            <i class="i-user"></i>
            <span>Company User (s)</span>
        </h3>
        <div class="fl fw section-container">
            <div id="UserTableContainer" class="fl fw"></div>
        </div>
    </section>
</div>
@section scripts{<!-- Validation engine style file -->

}